.headerclass {
    position: fixed;
    padding: 10px 10px 0px 10px;
    top: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 100px;
    background: grey;
}

body .bg-dark {
    background-color: grey!important;
}