.App {
    text-align: center;
    min-height: 100vh;
    padding: 0 0 100px;
    position: relative;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.Footer {
    position: absolute;
    padding-top: 8px;
    /* padding-bottom: 8px; */
    /* width: 100%; */
    bottom: 0;
    left: 0;
    right: 0;
    background: grey;
    text-align: center;
}

.new-footer {
    display: none;
}
@media only screen and (max-width: 767px) {
    .Footer {
        display: none!important;
    }
}
@media only screen and (max-width: 767px) {
    .new-footer {
        display: block;
        position: absolute;
        padding-top: 8px;
        /* padding-bottom: 8px; */
        /* width: 100%; */
        bottom: 0;
        left: 0;
        right: 0;
        background: grey;
        text-align: center;
    }
}

.cop {
    color: #D0D0D0;
    font-size: 12px;
}

.cop2 {
    color: black;
    font-size: 16px;
}

.Header {
    height: 6rem;
}

body .bg-dark {
    background-color: grey!important;
}

.img {
    width: 25px;
    height: auto;
    margin: 10px;
}

/* .form-outline {
    outline: none; 
    box-shadow: none !important;
     border: 1px solid #D0D0D0 !important; 
} */

.user-icon-outline {
    outline: none;
    box-shadow: none !important;
}

.user-icon-outline:hover {
    background: #C0C0C0	;

}

.button-outline {
    outline: none;
    box-shadow: none !important;
    border: 1px solid grey !important;
}
div.container {
    padding: 0;
}
@media only screen and (min-width: 1300px) {
    div.container {
        padding: 0;
        min-width: 1300px;
    }
}

.user-img:hover {
    background: #C0C0C0	;
    border-radius: 100px;

}

.user-img {
    margin-right: 10px;

}


@media only screen and (max-width: 992px) {
    .my-form-inline {
        flex: 100%;
    }
}

