.App {
    text-align: center;
    min-height: 100vh;
    padding: 0 0 100px;
    position: relative;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.Footer {
    position: absolute;
    padding-top: 8px;
    /* padding-bottom: 8px; */
    /* width: 100%; */
    bottom: 0;
    left: 0;
    right: 0;
    background: grey;
    text-align: center;
}

.new-footer {
    display: none;
}
@media only screen and (max-width: 767px) {
    .Footer {
        display: none!important;
    }
}
@media only screen and (max-width: 767px) {
    .new-footer {
        display: block;
        position: absolute;
        padding-top: 8px;
        /* padding-bottom: 8px; */
        /* width: 100%; */
        bottom: 0;
        left: 0;
        right: 0;
        background: grey;
        text-align: center;
    }
}

.cop {
    color: #D0D0D0;
    font-size: 12px;
}

.cop2 {
    color: black;
    font-size: 16px;
}

.Header {
    height: 6rem;
}

body .bg-dark {
    background-color: grey!important;
}

.img {
    width: 25px;
    height: auto;
    margin: 10px;
}

.img-form {
    width: 35px;
    height: auto;
    margin: 10px;
}

.input-img {
    width: auto;
    height: 24px;
}

/* .form-outline {
    outline: none; 
    box-shadow: none !important;
     border: 1px solid #D0D0D0 !important; 
} */

 .gear-outline {
    outline: none; 
    box-shadow: none !important;
    
} 

.user-icon-outline {
    outline: none;
    box-shadow: none !important;
}

.user-icon-outline:hover {
    background: #C0C0C0	;

}

.button-outline {
    outline: none;
    box-shadow: none !important;
    border: 1px solid grey !important;
}
div.container {
    padding: 0;
}
@media only screen and (min-width: 1300px) {
    div.container {
        padding: 0;
        min-width: 1300px;
    }
}

.user-img:hover {
    background: #C0C0C0	;
    border-radius: 100px;

}

.user-img {
    margin-right: 10px;

}

@media only screen and (max-width: 992px) {
    .my-form-inline {
        flex: 100%;
    }
}

/* grids */
.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

.grid-2-pass {
    display: grid;
    grid-template-columns: 90% auto;
    grid-gap: 1rem;
  }

.grid-3-conv {
    display: grid;
    grid-template-columns: 46% auto 46%;
    grid-gap: 1rem;
  }

/* extras */
.fa-eye {
    text-align: center !important;
    margin-top: 40% !important;
    cursor: pointer !important;
}

.bordered {
    border: 1px solid !important
}

.hidden {
    visibility: hidden !important;
}

.info-container {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}

.text-bold {
    font-weight: 600;
}

.converter-container {
    width: 90%;
    margin: auto;
    padding: 5%;
    height: 550px;
}

.converter-result {
    font-weight: bold;
}

.dropdown-menu-right {
    height: 250px;
    overflow-y: scroll;
    width: 420px !important;
  }

.price-calculator-container {
    width: 90%;
    margin: auto;
    padding: 20px 10px;
    height: 600px;
}

.price-calculator-row {
    width: 80%;
    margin: auto;
}

.coin-info {
    font-size: 90%;
}

.coin-info-header {
    font-weight: bold;
    margin-bottom:1px;
    margin-top:5px;
}

/* colors */
.green-color {
    color: green
}

/* tooltips */
.custom-tooltip {
    background-color: #fefefe;
    padding:8px;
    width: 200px;
    min-height:50px;
    border: 3px solid;
}

.heatmap-side-nav{
    background-color: #C0C0C0;
    padding: 15px;
}

/* responsive stuff */
@media only screen and (max-width: 900px) {
    .dropdown-menu {
        width: 200px !important;
      }
  }

.row-top {
    padding-top: 25px;
}

inside-row-top-header {
    padding-top: 25px ;
    padding-bottom: 10px;
}

.row-button {
    padding-top: 15px;
    padding-bottom: 0px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }

  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }

  .p-details {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-right: 5px;
      background-color: grey;
  }